page-feed {

    ion-content.conteudo{
        background-color: rgba(220, 209, 209, 0.2);
    }

    ion-title.feed{
        color: red;
        font-weight: bold;
    }
    h2.texto{
        color: blue;
        font-weight: bold;
    }

    
    ion-card-title.titulo{
        color: green;
        font-weight: bold;

    }
    ion-card-content.corpo{
        background-color: rgba(138, 132, 132, 0.3);

    }

    p.paragrafo{
        color: red;
        font-weight: Arial;
    }


}


