page-lista {

    h1.lista{
        color: blue;
        font-weight: bolder;
        text-align: center;
        background-color: rgba(187, 180, 180, 0.2);
        background-image: grey;

    }

    ion-content.tudolista{

        background-color: rgba(187, 180, 180, 0.2);
        background-image: grey;

    }

}
