page-sobre {

    ion-content.tudosobre{
        background-color: rgba(90, 4, 4, 0.1);
    }

    h2.precisando{
        background-color: rgba(187, 180, 180, 0.2);
        background-image: grey;
        color: blue;
        font-weight: bolder;
       
    }

    p.wordrap{
        text-align: justify;
    }

}
